{% extends 'base.html' %}

{% block head_title %}
This is nice
{% endblock head_title %}

{% block content %}
<div class="row text-center">
    <div class="col">
        <h1>Welcome to tweetme2</h1>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4 mx-auto col-10">
        <form id="tweet-create-form" class="form" method="POST" action="/create-tweet">
            {% csrf_token %}
            <input type="hidden" value="/" name="next">
            <textarea required='required' class="form-control" name="content" placeholder='Your tweet'></textarea>
            <button type="submit" class="btn btn-primary">Tweet</button>
        </form>
    </div>
</div>

<div class='row' id='tweets'>
    Replace me
</div>



<script>
    const tweetsEl = document.getElementById("tweets")
    const tweetCreateFormEl = document.getElementById("tweet-create-form")

    function handleTweetFormDidSubmit(event) { 
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const endpoint = myForm.getAttribute("action")
        const method = myForm.getAttribute("method") 
        const xhr = new XMLHttpRequest()
        xhr.open(method, endpoint)
        xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
        xhr.onload = function() {
            console.log(xhr.status)
            if (xhr.status === 201) {
                const serverResponse = xhr.response;
                const serverResponseJSON = JSON.parse(serverResponse)
                const newTweetElement = formatTweetElement(serverResponseJSON)
                console.log(newTweetElement)
                myForm.reset()
                window.location.href = "/"   
            }else if (xhr.status === 400) {
                const errorJson = xhr.response
            }else if (xhr.status === 401) {
                alert('You must login!')
                window.location.href = "/login"
            }else if (xhr.status === 500) {
                alert("There was a server error")
            }
        }
        xhr.send(myFormData)

        
    }
    tweetCreateFormEl.addEventListener("submit", handleTweetFormDidSubmit)


    function formatTweetElement(tweet){
        let formattedTweet = 
        `<div class='mb-4 col-12 col-md-10 mx-auto border rounded py-3 tweet' id='tweet-${tweet.id}' <p>${tweet.content}</p> <div>${likeBtn(tweet)}</div></div>`
        return formattedTweet
    }

    function likeBtn(tweet){
        return `<button class='btn btn-primary btn-sm' onclick=handleDidLIke(${tweet.id},${tweet.likes})>${tweet.likes} Likes</button>`
    }

    function handleDidLIke(tweet_id, currentCount){
        console.log(tweet_id, currentCount)

    }
    function loadTweets(tweetsElement) {

        const xhr = new XMLHttpRequest() //
        const method = "GET" 
        const url = "/tweets"
        const responseType = "json"



        xhr.responseType = responseType 
        xhr.open(method, url)

        xhr.onload = function() {
            const serverResponse = xhr.response.response;
            let finalTweetStr = "";
            let i;
            for (i=0;i<serverResponse.length; i++) {
                let tweetObj = serverResponse[i]
                currentItem = formatTweetElement(tweetObj)
                finalTweetStr += currentItem

            }
            tweetsElement.innerHTML = finalTweetStr
        }
        xhr.send()
    }

    loadTweets(tweetsEl)

</script>
{% endblock content %}